<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>

<div style="text-align: center;">
  <h1>Welcome to the Homepage</h1>
  <h2>Please select an option</h2>
  <br>
  <form action="/logout" method="get">
    <button type="submit">Logout</button>
  </form>
  <br>
  <form action="http://35.186.220.230.nip.io/calendar" method="get">
    <button type="submit">Calendar</button>
  </form>
  <br>
  <form action="http://35.186.220.230.nip.io/weather" method="get">
    <button type="submit">Weather</button>
  </form>
</div>

</body>
</html>